<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ImageThread{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/ImageThreadBundle/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/ImageThreadBundle/css/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Image Thread</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Views: <span id="views-count"></span> </a>
                        </li>
                        <li>
                            <a href="#">Posts: <span id="posts-count"></span></a>
                        </li>
                        <li>
                            <a href="{{ path('export_csv') }}">Export CSV<span id="posts-count"></span></a>
                        </li>
                        <li>
                            <a href="{{ path('export_excel') }}">Export Excel<span id="posts-count"></span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            {% block body %}{% endblock %}

        </div>
        <!-- /.container -->


        <!-- jQuery -->
        <script src="{{ asset('bundles/ImageThreadBundle/js/jquery.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/ImageThreadBundle/js/bootstrap.min.js') }}"></script>

        <script>

            function reloadViewsPosts(){
                $.getJSON( "{{ path('get_views') }}", function( json ) {
                  $('#views-count').text(json.views_count);
                });

                $.getJSON( "{{ path('get_posts') }}", function( json ) {
                  $('#posts-count').text(json.posts_count);
                });
            }

            //first time
            reloadViewsPosts();

            //every 15 seconds
            window.setInterval(function(){ reloadViewsPosts(); }, 15000);
            
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
