{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-6">

    	{% for flash_message in app.session.flashBag.get('notice') %}
		    <div class="alert alert-success">
		        {{ flash_message }}
		    </div>
		{% endfor %}

    	{{ form_start(form) }}
			<div class="form-group">
				{{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Image title'}}) }}
			</div>
			<div class="form-group">
				{{ form_widget(form.filename) }}
			</div>
			{{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
		{{ form_end(form) }}

		<hr>

	</div>

	<div class="col-md-12">

    	{% for image in images %}

    		<h2>{{ image.title|e }}</h2>
	        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ image.created|date("F jS \\a\\t g:ia") }}</p>
	        <img class="img-responsive" src="{{ asset('uploads/' ~ image.filename) }}" alt="{{ image.title|e }}">
	        <hr>

	    {% endfor %}

    </div>

</div>
<!-- /.row -->

{% endblock %}
